body {
  max-width: 100vw;
  max-height: 100vh;
  background: #bfd3f2;
}

.container {
  display: grid;
}

nav {
  display: grid;
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item {
  margin: 5px;
  text-align: center;
  font-size: 1.5em;
}

.content {
  border-radius: 15px;
  background: white;
}

.grid-template-areas {
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: 90vh;
}

#add-project {
  background-color: #a9a3a3;
  margin-top: 30px;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#name-project {
  text-align: left;
  margin-left: 20px;
}

.project {
  width: 100%;
  max-width: 250px;
}

.card {
  background-color: #84bee9;
  margin-top: 30px;
  row-gap: 20px;
  padding: 5px;
  padding-left: 15px;
  text-align: left;
  border-radius: 8px;
  font-weight: bold;
  word-wrap: break-word;
}

.description {
  background-color: white;
  margin-top: 10px;
  row-gap: 20px;
  padding: 5px;
  padding-left: 15px;
  height: auto;
  text-align: left;
  border-radius: 8px;
  word-wrap: break-word;
}

#p-description {
  margin-top: 10px;
  opacity: 0.5;
}

/* .card-container {
  display: flex;
  flex-wrap: nowrap;
} */

/* #columns{
    display: flex;
    flex-wrap: nowrap;
    

}

#add-card {
    background-color: #a9a3a3;
    margin-top: 30px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 19.6vw;
    margin-left: 20px;
}

.cardMeu {
  background-color: #84bee9;
  margin-top: 30px;
  row-gap: 20px;
  padding: 5px;
  padding-left: 15px;
  text-align: left;
  border-radius: 25px;
  font-weight: bold;
  word-wrap: break-word;
  width: 18.6vw;
  margin-left: 20px;
}

.description1 {
  background-color: rgb(173, 173, 173);
  margin-top: 10px;
  padding: 5px;
  padding-left: 15px;
  height: auto;
  text-align: left;
  border-radius: 8px;
  word-wrap: break-word;
  border: 1px solid #333;
  width: 18.4vw;
  margin-left: 20px;
} */

.column {
  width: 20vw;
  margin: 20px;
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

.cube-container {
  display: flex;
  flex-direction: column; /* Altera a direção da flexbox para empilhar verticalmente */
}

.cube {
  height: 50px;
  background-color: skyblue;
  margin: 5px;
  display: inline-block;
}

.add-button {
  width: 70%;
  height: 30px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
